.basic-info-container {
    width: 25%;
    padding: 20px;
    margin: 0 10px;
    border-radius: 8px;
    background: var(--semi-color-bg-0);
}

.basic-info-container .image-and-name {
    text-align: center;
}


.stat {
    display: flex;
    justify-content: space-between;
}

.stat-label {
    /*font-weight: lighter;*/
}

.stat-info-value {
    text-align: right;
}
