.player-picker-container {
    /*min-height: 100px;*/
    border-bottom: 1px solid #d3d3d3;
}

.player-item {
    margin: 4px;
    background-color: #eaecec;
    color: black;
    padding: 4px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 12px;
}

.player-item .selected {
    background-color: #aaef88;
    font-weight: bold;
}

.player-position {
    font-weight: bolder;
    margin-right: 5px;
}