.notification-item {
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
}

.notification-item .unread {
    font-weight: bold;
}

.notification-item:hover {
    background-color: #cfd1da;
}


.notification-label {
    font-size: 0.8rem;
    font-weight: 300;
}

.notification-pagination {
    margin: 8px auto;
}